.logo-removebg{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 350px;
}

.slogan-project{
    padding:  20px 200px;
    text-align: center;
}

.about-text{
    margin: 0 40px;
    padding-bottom: 40px;
}

p{
    font-size: 20px;
}