/* src/components/Footer.css */
.footer {
  padding: 20px 0;
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container p{
  margin: 0px;
}
